# Курсовой проект

По дисциплине "Интеллектуальный анализ и обработка данных".

Выполнили: ст. гр. 4230М А.Н. Секунов, Д.А. Фомин.

## Содержание
<style>
dl { width: 625px; }
dt { float: left; width: 550px; overflow: hidden; white-space: nowrap; }
dd { float: left; width: 50px; overflow: hidden; margin-left: 5px; }
a.t { margin-left: 25px; }
dt:after { content: " .........................................................................................................................................................................."; }.
</style>

<dl>
    <a href="#task"><dt>1. Задание</dt><dd>1</dd></a>
    <a href="#initial_data"><dt>2. Исходные данные</dt><dd>2</dd></a>
    <a href="#load_data" class="t"><dt>2.1. Загрузка исходных данных</dt><dd>3</dd></a>
    <a href="#viewing_data" class="t"><dt>2.2. Ознакомление с данным</dt><dd>34</dd></a>
    <a href="#conclusions"><dt>N. Выводы</dt><dd>N</dd></a>
    <a href="#references"><dt>N. Список литературы</dt><dd>N</dd></a>
</dl>

## 1. Задание <a name="task"></a>

1.
    1. Для вариантов 1-20 дан многомерный набор данных телеметрической информации (ТМИ) малого космического аппарата, полученный в результате  предобработки и разметки в ЛР3. Разработать приложение на языке Python и  необходимых библиотек машинного и глубокого обучения на основе  классификационной модели, заданной в варианте, которое определяет техническое  состояние малого космического аппарата: штатное ф-е, отказ, сбой, на основе  данных его ТМИ.
    2. Для вариантов 21-40 дан многомерный набор данных сетевого трафика. Разработать приложение на языке Python и необходимых библиотек машинного и глубокого обучения на основе классификационной модели, заданной в варианте, х, которое определяет попытки сетевых вторжений на основе данных сетевого трафика.
2. Выполнить разведочный анализ данных как в ЛР.
3. Анализ выполняется для исходного набора данных и преобразованного исходного набора данных, который Вы подбираете самостоятельно с целью получения лучшей точности классификации.
4. Проверить набор данных на сбалансированность классов. В случае несбалансированного набора данных помимо “Classification report” с основными метриками: Accuracy, Precision, Recall, F1-score, также оценивать balanced_accuracy_score. Также оценивать и анализировать ROC_AUC_score.
5. Для выбранной комбинации набора данных и предиктивной модели выполняется поиск гиперпараметров с помощью генетического алгоритма. Реализовывать ГА можно самостоятельно или воспользоваться библиотекой DEAP (https://deap.readthedocs.io/en/master/index.html). 
  Для выбранной комбинации набора данных и предиктивной модели выполняется поиск гиперпараметров методом greedsearch. Сравнить полученные результаты.
  Во все НС классификационные модели добавить слой регуляризации Dropuot().
  Сохранять лог всех генерируемых НС моделей в популяции.
  Гиперпараметры: число сверточных фильтров в сверточных слоях, размер свертки в сверточных слоях, число нейронов в рекуррентных слоях,  число нейронов в полносвязных слоях, параметр в слое Dropuot(), алгоритм обучения.
6. На неразмеченной части набора данных выполнить предобучение с помощью автокодировщика, построенного на основании базового нейросетевого классификатора, заданного в варинте. Выполнить точную настройку (дообучение) базовой нейронной сети на размеченном наборе данных.
7. Сделать выводы по проведенному анализу.

**Вариант 28**

Гибридная нейросетевая модель: последовательностное соединение  одномерных сверточных и рекуррентных двунаправленных (Bidirectional layer)  нейросетевых слоев с полносвязным классификатором: самостоятельная реализация.

## 2. Исходные данные <a name="initial_data"></a>

В качестве исходных данных используется датасет на основе KDD [[1](#l1)], [[2](#l2)]. 

Используемые файлы:

 - kdd_10000_labeled.csv - выборка из 10К записей с меткой атаки (https://github.com/Demetrey/DMaP/blob/CP/CP/datasets/kdd_10000_labeled.csv);
 - kdd_50000_unlabeled.csv - выборка из 50К записей без метки атаки (https://github.com/Demetrey/DMaP/blob/CP/CP/datasets/kdd_50000_unlabeled.csv);
 - Field Names.csv - наименования полей (https://github.com/defcom17/NSL_KDD/blob/master/Field%20Names.csv).

Набор данных NSL-KDD содержит 4 категории угроз [[3](#l3)]:

 - Denial of Service (dos). Набор атак, в которых злоумышленник ограничивает доступ верифицированным пользователям к конкретному сервису через определенный протокол (Back, Land, Neptune, Pod, Smurf, Teardrop, Apache2, Udpstorm, Processtable, Worm);
 - Remote to Local (r2l). Набор атак, в которых злоумышленник пытается получить доступ извне к локальной машине пользователя (Guess_Password, Ftp_write, Imap, Phf, Multihop, Warezmaster, Warezclient, Spy, Xlock, Xsnoop, Snmpguess, Snmpgetattack, Httptunnel, Sendmail, Named);
 - User to Root (u2r). Набор атак, в которых злоумышленник, имея доступ к машине жертвы, пытается получить права более привилегированного пользователя (Buffer_overflow, Loadmodule, Rootkit, Perl, Sqlattack, Xterm, Ps);
 - Probe. Набор атак, в которых злоумышленник пытается получить сведения об инфраструктуре пользователя (Satan, Ipsweep, Nmap, Portsweep, Mscan, Saint).

Заданные выборки предназначены для двоичной классификации: наличие угрозы / отсутствие угрозы (normal).

Размерность вектра составляет 42 (41 атрибут, нименования которых хранится в файле Field Names.csv, 42-ой атрибут представляет собой тип атаки).
43 атрибут NSL-KDD был исключен.

### 2.1. Загрузка исходных данных <a name="load_data"></a>

In [1]:
import urllib.request
import os

save_path = './datasets'
download_path = './datasets/download'
dataset_url = 'https://raw.githubusercontent.com/Demetrey/DMaP/CP/CP/datasets/'
fnames_url = 'https://raw.githubusercontent.com/defcom17/NSL_KDD/master/Field%20Names.csv'
urls = { 'kdd_10000_labeled': dataset_url + 'kdd_10000_labeled.csv',
         'kdd_50000_unlabeled': dataset_url + 'kdd_50000_unlabeled.csv' }

if not os.path.exists(save_path):
    os.mkdir(save_path)

for key in urls:
    file_name = os.path.join(save_path, key + '.csv')
    urllib.request.urlretrieve(urls[key], file_name)

# download fields
if not os.path.exists(download_path):
    os.mkdir(download_path)

_ = urllib.request.urlretrieve(fnames_url, os.path.join(download_path, 'fields.csv'))

### 2.2. Ознакомление с данными <a name="viewing_data"></a>

Объединение заголовков и данных

In [2]:
import pandas as pd
import numpy as np
fnames = pd.read_csv('./datasets/download/fields.csv', header=None)[0].to_numpy()

In [3]:
# Загрузка размеченных данных
data_10k = pd.read_csv('./datasets/kdd_10000_labeled.csv')
data_10k.columns = np.append(fnames, 'Attack type')

In [4]:
# Загрузка неразмеченных данных
data_50k = pd.read_csv('./datasets/kdd_50000_unlabeled.csv')
data_50k.columns = fnames

Описание полей [[4](#l4)]:

<table style="font-size: 12pt;">
<colgroup>
    <col span="1" style="width: 2%;">
    <col span="1" style="width: 10%;">
    <col span="1" style="width: 18%;">
    <col span="1" >
</colgroup>
<tr><th>№<th>Поле<th>Значения<th>Описание
<tr><th colspan="4">Основные характеристики каждого вектора сетевого подключения
<tr><td>0<td>duration<td>10k: 0-12454<br>50k: 0-25602<td>Длительность соединения
<tr><td>1<td>protocol_type<td>tcp, icmp, udp<td>Протокол, используемый в соединении
<tr><td>2<td>service<td>http, ecr_i, smtp, domain_u, finger, ftp, ntp_u, auth, telnet, eco_i, other<br>Только в 50k: private, ftp_data, pop_3, time, gopher, rje, sunrpc, whois, hostnames, csnet_ns, domain, link, login, netbios_dg, ssh, mtp, sql_net, uucp_path, pop_2, bgp, systat, iso_tsap, supdup, shell, imap4, http_443, nntp, klogin, remote_job, vmnet, discard, netbios_ssn, netbios_ns, daytime, ctf, Z39_50, name, efs, courier, uucp, exec, printer, echo, kshell, ldap, nnsp, netstat, IRC<td>Используемая служба сети назначения
<tr><td>3<td>flag<td>SF, REJ, S1, S0, S2<br>Только в 50k: SH, RSTR, RSTO, RSTOS0, S3, OTH<td>Состояние соединения -  нормальное или ошибка
<tr><td>4<td>src_bytes<td>10k: 0-19721<br>50k: 0-693375640<td>Количество байт данных, переданных от источника к получателю в одном соединении
<tr><td>5<td>dst_bytes<td>10k: 0-271733<br>50k: 0-2661605<td>Количество байт данных, переданных от адресата к источнику в одном соединении  
<tr><td>6<td>land<td>0-нет; 1-да<td>IP-адреса и номера портов источника и назначения равны?
<tr><td>7<td>wrong_fragment<td>10k: 0<br>50k: 0-3<td>Общее количество ошибочных фрагментов в данном соединении
<tr><td>8<td>urgent<td>10k: 0<br>50k: 0-2<td>Количество срочных пакетов в данном соединении. Срочные пакеты - это пакеты с активированным битом срочности
<tr><th colspan="4">Контентные характеристики каждого вектора сетевого подключения
<tr><td>9<td>hot<td>10k: 0-30<br>50k: 0-30<td>Количество "особых" индикаторов в содержимом, таких как: вход в системный каталог, создание программ и выполнение программ
<tr><td>10<td>num_failed_logins<td>10k: 0<br>50k: 0-5<td>Количество неудачных попыток входа в систему
<tr><td>11<td>logged_in<td>0-нет; 1-да<td>Вход в систему прошёл успешно?
<tr><td>12<td>num_compromised<td>10k: 0-2<br>50k: 0-767<td>Количество состояний "compromised"
<tr><td>13<td>root_shell<td>0-нет; 1-да<td>Получен ли root shell?
<tr><td>14<td>su_attempted<td>0-нет; 1-да<td>Была ли попытка использовать "su root"?
<tr><td>15<td>num_root<td>10k: 0-2<br>50k: 0-857<td>Количество обращений к "root" или количество операций, выполненных от имени "root" в соединении
<tr><td>16<td>num_file_creations<td>10k: 0-4<br>50k: 0-28<td>Количество операций создания файлов в соединении
<tr><td>17<td>num_shells<td>10k: 0-2<br>50k: 0-1<td>Количество запросов оболочки
<tr><td>18<td>num_access_files<td>10k: 0-2<br>50k: 0-6<td>Количество операций над файлами контроля доступа
<tr><td>19<td>num_outbound_cmds<td>10k: 0<br>50k: 0<td>Количество исходящих команд в ftp-сессии
<tr><td>20<td>is_host_login<td>0-нет; 1-да<td>Принадлежит ли логин к списку "особых": root, admin и т. д.?
<tr><td>21<td>is_guest_login<td>0-нет; 1-да<td>Используется «гостевой» логин?
<tr><th colspan="4">Временные характеристики трафика каждого вектора сетевого соединения
<tr><td>22<td>count<td>10k: 1-511<br>50k: 1-511<td>Количество соединений с тем же хостом назначения, что и текущее соединение, за последние две секунды
<tr><td>23<td>srv_count<td>10k: 1-511<br>50k: 1-511<td>Количество соединений с тем же сервисом (номер порта), что и текущее соединение, за последние две секунды
<tr><td>24<td>serror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) s0, s1, s2 или s3, среди соединений, объединенных в count (22)
<tr><td>25<td>srv_serror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) s0, s1, s2 или s3, среди соединений, объединенных в srv_count (23)
<tr><td>26<td>rerror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) REJ, среди соединений, объединенных в count (22)
<tr><td>27<td>srv_rerror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) REJ, среди соединений, объединенных в srv_count (23)
<tr><td>28<td>same_srv_rate<td>10k: 0.33-1.0<br>50k: 0.0-1.0<td>Процент соединений с одним и тем же сервисом среди соединений, объединенных в count (22)
<tr><td>29<td>diff_srv_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений с разными сервисами, среди соединений, объединенных в count (22)
<tr><td>30<td>srv_diff_host_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений с разными машинами назначения среди соединений, объединенных в srv_count (23)
<tr><th colspan="4">Особенности трафика на основе хоста в векторе сетевого соединения
<tr><td>31<td>dst_host_count<td>10k: 1-255<br>50k: 0-255<td>Количество соединений с одинаковым IP-адресом хоста назначения
<tr><td>32<td>dst_host_srv_count<td>10k: 1-255<br>50k: 0-255<td>Количество соединений с одинаковым номером порта
<tr><td>33<td>dst_host_same_srv_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений с одним и тем же сервисом среди соединений, объединенных в dst_host_count (31)
<tr><td>34<td>dst_host_diff_srv_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений с разными сервисами среди соединений, объединенных в dst_host_count (31)
<tr><td>35<td>dst_host_same_src_port_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений с одним и тем же портом источника среди соединений, объединенных в dst_host_srv_count (32)
<tr><td>36<td>dst_host_srv_diff_host_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений с разными машинами назначения среди соединений, объединенных в dst_host_srv_count (32)
<tr><td>37<td>dst_host_serror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) s0, s1, s2 или s3, среди соединений, объединенных в dst_host_count (31)
<tr><td>38<td>dst_host_srv_serror_rate<td>10k: 0.0-0.94<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) s0, s1, s2 или s3, среди соединений, объединенных в dst_host_srv_count (32)
<tr><td>39<td>dst_host_rerror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) REJ, среди соединений, объединенных в dst_host_count (31)
<tr><td>40<td>dst_host_srv_rerror_rate<td>10k: 0.0-1.0<br>50k: 0.0-1.0<td>Процент соединений, активировавших flag (3) REJ, среди соединений, объединенных в dst_host_srv_count (32)
<tr><th colspan="4">Поля для "размеченных" данных
<tr><td>41<td>Attack type<td>Только в 10k: normal, smurf, buffer_overflow, neptune, loadmodule, perl<td>Метка, есть ли атака в данном соединении
</table>

Вывод общих сведений о наборах

In [5]:
data_10k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     10000 non-null  int64
 1   protocol_type                10000 non-null  object
 2   service                      10000 non-null  object
 3   flag                         10000 non-null  object
 4   src_bytes                    10000 non-null  int64
 5   dst_bytes                    10000 non-null  int64
 6   land                         10000 non-null  int64
 7   wrong_fragment               10000 non-null  int64
 8   urgent                       10000 non-null  int64
 9   hot                          10000 non-null  int64
 10  num_failed_logins            10000 non-null  int64
 11  logged_in                    10000 non-null  int64
 12  num_compromised              10000 non-null  int64
 13  root_shell                   10000 non-null  int64
 14  su_attempted                 10000 non-null  int64
 15  num_root                     10000 non-null  int64
 16  num_file_creations           10000 non-null  int64
 17  num_shells                   10000 non-null  int64
 18  num_access_files             10000 non-null  int64
 19  num_outbound_cmds            10000 non-null  int64
 20  is_host_login                10000 non-null  int64
 21  is_guest_login               10000 non-null  int64
 22  count                        10000 non-null  int64
 23  srv_count                    10000 non-null  int64
 24  serror_rate                  10000 non-null  float64
 25  srv_serror_rate              10000 non-null  float64
 26  rerror_rate                  10000 non-null  float64
 27  srv_rerror_rate              10000 non-null  float64
 28  same_srv_rate                10000 non-null  float64
 29  diff_srv_rate                10000 non-null  float64
 30  srv_diff_host_rate           10000 non-null  float64
 31  dst_host_count               10000 non-null  int64
 32  dst_host_srv_count           10000 non-null  int64
 33  dst_host_same_srv_rate       10000 non-null  float64
 34  dst_host_diff_srv_rate       10000 non-null  float64
 35  dst_host_same_src_port_rate  10000 non-null  float64
 36  dst_host_srv_diff_host_rate  10000 non-null  float64
 37  dst_host_serror_rate         10000 non-null  float64
 38  dst_host_srv_serror_rate     10000 non-null  float64
 39  dst_host_rerror_rate         10000 non-null  float64
 40  dst_host_srv_rerror_rate     10000 non-null  float64
 41  Attack type                  10000 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 3.2+ MB

In [6]:
data_50k.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     50000 non-null  int64
 1   protocol_type                50000 non-null  object
 2   service                      50000 non-null  object
 3   flag                         50000 non-null  object
 4   src_bytes                    50000 non-null  int64
 5   dst_bytes                    50000 non-null  int64
 6   land                         50000 non-null  int64
 7   wrong_fragment               50000 non-null  int64
 8   urgent                       50000 non-null  int64
 9   hot                          50000 non-null  int64
 10  num_failed_logins            50000 non-null  int64
 11  logged_in                    50000 non-null  int64
 12  num_compromised              50000 non-null  int64
 13  root_shell                   50000 non-null  int64
 14  su_attempted                 50000 non-null  int64
 15  num_root                     50000 non-null  int64
 16  num_file_creations           50000 non-null  int64
 17  num_shells                   50000 non-null  int64
 18  num_access_files             50000 non-null  int64
 19  num_outbound_cmds            50000 non-null  int64
 20  is_host_login                50000 non-null  int64
 21  is_guest_login               50000 non-null  int64
 22  count                        50000 non-null  int64
 23  srv_count                    50000 non-null  int64
 24  serror_rate                  50000 non-null  float64
 25  srv_serror_rate              50000 non-null  float64
 26  rerror_rate                  50000 non-null  float64
 27  srv_rerror_rate              50000 non-null  float64
 28  same_srv_rate                50000 non-null  float64
 29  diff_srv_rate                50000 non-null  float64
 30  srv_diff_host_rate           50000 non-null  float64
 31  dst_host_count               50000 non-null  int64
 32  dst_host_srv_count           50000 non-null  int64
 33  dst_host_same_srv_rate       50000 non-null  float64
 34  dst_host_diff_srv_rate       50000 non-null  float64
 35  dst_host_same_src_port_rate  50000 non-null  float64
 36  dst_host_srv_diff_host_rate  50000 non-null  float64
 37  dst_host_serror_rate         50000 non-null  float64
 38  dst_host_srv_serror_rate     50000 non-null  float64
 39  dst_host_rerror_rate         50000 non-null  float64
 40  dst_host_srv_rerror_rate     50000 non-null  float64
dtypes: float64(15), int64(23), object(3)
memory usage: 15.6+ MB

Как видно, пустые значения в наборах отсутствуют.

Вывод статистических сведений о наборах

In [7]:
data_10k.describe().iloc[:,:6]

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent
count,10000.000000,10000.000000,10000.000000,10000.0,10000.0,10000.0
mean,2.681300,514.462300,3276.092500,0.0,0.0,0.0
std,164.808271,687.745912,8775.827403,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,0.0,0.0,0.0
25%,0.000000,222.000000,237.750000,0.0,0.0,0.0
50%,0.000000,293.000000,891.000000,0.0,0.0,0.0
75%,0.000000,1032.000000,2739.250000,0.0,0.0,0.0
max,12454.000000,19721.000000,271733.000000,0.0,0.0,0.0

In [8]:
data_50k.describe().iloc[:,:6]

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent
count,50000.000000,5.000000e+04,5.000000e+04,50000.000000,50000.000000,50000.00000
mean,3.213100,1.694021e+04,3.232549e+03,0.000020,0.006300,0.00006
std,184.876906,3.100987e+06,3.211359e+04,0.004472,0.134241,0.01000
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.00000
25%,0.000000,1.980000e+02,0.000000e+00,0.000000,0.000000,0.00000
50%,0.000000,2.760000e+02,3.540000e+02,0.000000,0.000000,0.00000
75%,0.000000,1.032000e+03,2.227000e+03,0.000000,0.000000,0.00000
max,25602.000000,6.933756e+08,2.661605e+06,1.000000,3.000000,2.00000

In [9]:
data_10k.describe().iloc[:,6:11]

,hot,num_failed_logins,logged_in,num_compromised,root_shell
count,10000.000000,10000.0,10000.000000,10000.00000,10000.000000
mean,0.037300,0.0,0.757000,0.00080,0.000900
std,0.840583,0.0,0.428917,0.03741,0.029988
min,0.000000,0.0,0.000000,0.00000,0.000000
25%,0.000000,0.0,1.000000,0.00000,0.000000
50%,0.000000,0.0,1.000000,0.00000,0.000000
75%,0.000000,0.0,1.000000,0.00000,0.000000
max,30.000000,0.0,1.000000,2.00000,1.000000

In [10]:
data_50k.describe().iloc[:,6:11]

,hot,num_failed_logins,logged_in,num_compromised,root_shell
count,50000.00000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.10886,0.001300,0.611800,0.054960,0.000220
std,0.79530,0.044479,0.487345,3.436297,0.014831
min,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.00000,0.000000,0.000000,0.000000,0.000000
50%,0.00000,0.000000,1.000000,0.000000,0.000000
75%,0.00000,0.000000,1.000000,0.000000,0.000000
max,30.00000,5.000000,1.000000,767.000000,1.000000

In [11]:
data_10k.describe().iloc[:,11:16]

,su_attempted,num_root,num_file_creations,num_shells,num_access_files
count,10000.0,10000.000000,10000.00000,10000.00000,10000.000000
mean,0.0,0.000400,0.00160,0.00030,0.001200
std,0.0,0.028283,0.05829,0.02236,0.039984
min,0.0,0.000000,0.00000,0.00000,0.000000
25%,0.0,0.000000,0.00000,0.00000,0.000000
50%,0.0,0.000000,0.00000,0.00000,0.000000
75%,0.0,0.000000,0.00000,0.00000,0.000000
max,0.0,2.000000,4.00000,2.00000,2.000000

In [12]:
data_50k.describe().iloc[:,11:16]

,su_attempted,num_root,num_file_creations,num_shells,num_access_files
count,50000.00000,50000.000000,50000.00000,50000.000000,50000.000000
mean,0.00006,0.031780,0.00304,0.000220,0.003600
std,0.01000,3.845785,0.17062,0.014831,0.069189
min,0.00000,0.000000,0.00000,0.000000,0.000000
25%,0.00000,0.000000,0.00000,0.000000,0.000000
50%,0.00000,0.000000,0.00000,0.000000,0.000000
75%,0.00000,0.000000,0.00000,0.000000,0.000000
max,2.00000,857.000000,28.00000,1.000000,6.000000

In [13]:
data_10k.describe().iloc[:,16:22]

,num_outbound_cmds,is_host_login,is_guest_login,count,srv_count,serror_rate
count,10000.0,10000.0,10000.000000,10000.00000,10000.000000,10000.000000
mean,0.0,0.0,0.002800,118.68750,120.518300,0.000937
std,0.0,0.0,0.052844,207.36612,206.462171,0.019688
min,0.0,0.0,0.000000,1.00000,1.000000,0.000000
25%,0.0,0.0,0.000000,3.00000,4.000000,0.000000
50%,0.0,0.0,0.000000,9.00000,12.000000,0.000000
75%,0.0,0.0,0.000000,29.00000,35.000000,0.000000
max,0.0,0.0,1.000000,511.00000,511.000000,1.000000

In [14]:
data_50k.describe().iloc[:,16:22]

,num_outbound_cmds,is_host_login,is_guest_login,count,srv_count,serror_rate
count,50000.0,50000.0,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.0,0.0,0.002700,123.103620,102.372580,0.131528
std,0.0,0.0,0.051892,193.306428,192.557958,0.337287
min,0.0,0.0,0.000000,1.000000,1.000000,0.000000
25%,0.0,0.0,0.000000,2.000000,3.000000,0.000000
50%,0.0,0.0,0.000000,11.000000,10.000000,0.000000
75%,0.0,0.0,0.000000,198.000000,29.000000,0.000000
max,0.0,0.0,1.000000,511.000000,511.000000,1.000000

In [15]:
data_10k.describe().iloc[:,22:28]

,srv_serror_rate,rerror_rate,srv_rerror_rate,same_srv_rate,diff_srv_rate,srv_diff_host_rate
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,0.000987,0.000800,0.000800,0.998131,0.003339,0.096698
std,0.020897,0.028274,0.028274,0.031108,0.055388,0.227020
min,0.000000,0.000000,0.000000,0.330000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.080000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
data_50k.describe().iloc[:,22:28]

,srv_serror_rate,rerror_rate,srv_rerror_rate,same_srv_rate,diff_srv_rate,srv_diff_host_rate
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.131578,0.027323,0.029660,0.876536,0.012673,0.098413
std,0.337364,0.159978,0.160532,0.316037,0.065525,0.243022
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.040000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
data_10k.describe().iloc[:,28:32]

,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,150.883900,240.936800,0.978558,0.004891
std,106.203728,48.188702,0.110359,0.031706
min,1.000000,1.000000,0.000000,0.000000
25%,34.000000,255.000000,1.000000,0.000000
50%,178.000000,255.000000,1.000000,0.000000
75%,255.000000,255.000000,1.000000,0.000000
max,255.000000,255.000000,1.000000,1.000000

In [18]:
data_50k.describe().iloc[:,28:32]

,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate
count,50000.000000,50000.00000,50000.000000,50000.000000
mean,171.090080,200.72040,0.823539,0.020858
std,102.453251,94.23589,0.349535,0.079117
min,0.000000,0.00000,0.000000,0.000000
25%,57.000000,175.00000,1.000000,0.000000
50%,255.000000,255.00000,1.000000,0.000000
75%,255.000000,255.00000,1.000000,0.010000
max,255.000000,255.00000,1.000000,1.000000

In [19]:
data_10k.describe().iloc[:,32:35]

,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate
count,10000.000000,10000.000000,10000.000000
mean,0.273166,0.017872,0.001163
std,0.414374,0.030047,0.020873
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.030000,0.010000,0.000000
75%,0.500000,0.030000,0.000000
max,1.000000,1.000000,1.000000

In [20]:
data_50k.describe().iloc[:,32:35]

,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate
count,50000.000000,50000.000000,50000.000000
mean,0.249014,0.023074,0.131333
std,0.402697,0.073166,0.336833
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.010000,0.000000,0.000000
75%,0.330000,0.020000,0.000000
max,1.000000,1.000000,1.000000

In [21]:
data_10k.describe().iloc[:,35:38]

,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,10000.000000,10000.000000,10000.000000
mean,0.000487,0.000826,0.000835
std,0.015717,0.028300,0.028401
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000
max,0.940000,1.000000,1.000000

In [22]:
data_50k.describe().iloc[:,35:38]

,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
count,50000.000000,50000.000000,50000.000000
mean,0.131248,0.028836,0.027299
std,0.337105,0.157861,0.154808
min,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000

Вывод сведений о строковых атрибутах

In [23]:
def view_stat_str(d10k, d50k, fn):
    temp = pd.concat([d10k[fn].value_counts(),
                      d50k[fn].value_counts()], axis=1)
    temp.columns = ['data_10k', 'data_50k']
    return temp

In [24]:
view_stat_str(data_10k, data_50k, 'protocol_type')

               data_10k  data_50k
protocol_type
tcp                7622     38756
icmp               2233      9831
udp                 145      1413

In [25]:
view_stat_str(data_10k, data_50k, 'service')

             data_10k  data_50k
service
http           6947.0     27893
ecr_i          2225.0      9161
smtp            571.0      2637
domain_u        128.0      1146
finger           40.0       137
ftp              28.0       142
ntp_u            17.0       141
auth             15.0        82
telnet           13.0       129
eco_i             8.0       670
other             8.0        13
private           NaN      6371
ftp_data          NaN      1095
pop_3             NaN        38
time              NaN        16
gopher            NaN        13
rje               NaN        12
sunrpc            NaN        12
whois             NaN        11
hostnames         NaN        10
csnet_ns          NaN        10
domain            NaN        10
link              NaN        10
login             NaN         9
netbios_dgm       NaN         9
ssh               NaN         9
mtp               NaN         9
sql_net           NaN         8
uucp_path         NaN         8
pop_2             NaN         8
bgp               NaN         8
systat            NaN         8
iso_tsap          NaN         8
supdup            NaN         8
shell             NaN         8
imap4             NaN         8
http_443          NaN         8
nntp              NaN         7
klogin            NaN         7
remote_job        NaN         7
vmnet             NaN         7
discard           NaN         7
netbios_ssn       NaN         7
netbios_ns        NaN         7
daytime           NaN         7
ctf               NaN         6
Z39_50            NaN         6
name              NaN         6
efs               NaN         6
courier           NaN         6
uucp              NaN         6
exec              NaN         5
printer           NaN         5
echo              NaN         5
kshell            NaN         5
ldap              NaN         5
nnsp              NaN         4
netstat           NaN         3
IRC               NaN         1

In [26]:
view_stat_str(data_10k, data_50k, 'flag')

        data_10k  data_50k
flag
SF        9983.0     42059
REJ          8.0      1222
S1           6.0        21
S0           2.0      6436
S2           1.0         5
SH           NaN       103
RSTR         NaN        89
RSTO         NaN        51
RSTOS0       NaN        10
S3           NaN         3
OTH          NaN         1

In [27]:
pd.DataFrame(data_10k['Attack type'].value_counts())

                  count
Attack type
normal.            7787
smurf.             2207
buffer_overflow.      2
neptune.              2
loadmodule.           1
perl.                 1

Вывод сведений о логических атрибутах

In [28]:
def view_stat_bool(bl):
    temp = view_stat_str(data_10k, data_50k, bl[0])
    temp.columns = [
        f'{temp.columns[0]} ({bl[0]})',
        f'{temp.columns[1]} ({bl[0]})'
    ]
    if bl[1:]:
        return pd.concat([temp, view_stat_bool(bl[1:])], axis=1)
    return temp

# 0 (Нет), 1 (Да), 2 (Опечатка?)
view_stat_bool(['land', 'logged_in', 'root_shell',
   'su_attempted', 'is_host_login', 'is_guest_login']).T

                                 0        1    2
data_10k (land)            10000.0      NaN  NaN
data_50k (land)            49999.0      1.0  NaN
data_10k (logged_in)        2430.0   7570.0  NaN
data_50k (logged_in)       19410.0  30590.0  NaN
data_10k (root_shell)       9991.0      9.0  NaN
data_50k (root_shell)      49989.0     11.0  NaN
data_10k (su_attempted)    10000.0      NaN  NaN
data_50k (su_attempted)    49998.0      1.0  1.0
data_10k (is_host_login)   10000.0      NaN  NaN
data_50k (is_host_login)   50000.0      NaN  NaN
data_10k (is_guest_login)   9972.0     28.0  NaN
data_50k (is_guest_login)  49865.0    135.0  NaN

## N. Выводы <a name="conclusions"></a>

## N. Список литературы <a name="references"></a>
1. Подготовленные данные (https://github.com/Demetrey/DMaP/tree/CP/CP/datasets). <a name="l1"></a>
2. Датасет NSL-KDD (https://github.com/defcom17/NSL_KDD). <a name="l2"></a>
3. Е.М. Бурлаков Применение метода анализа соответствий для оптимизации комбинаций атрибутов у наборов данных. Вестник ПНИПУ. Электротехника, информационные технологии, системы управления №26, 2018. <a name="l3"></a>
4. L.Dhanabal, S.P. Shantharajah.  A Study on NSL-KDD Dataset for Intrusion Detection System Based on Classification Algorithms (https://e-tarjome.com/storage/btn_uploaded/2019-07-13/1563006133_9702-etarjome-English.pdf). <a name="l4"></a>